@tailwind base;
@tailwind components;
@tailwind utilities;

/* reference: https://blog.hubspot.com/website/css-fade-in */
.page {
  @apply w-full min-h-screen flex justify-center;
  opacity: 0;
  transform: translate(0, 15vh);
  transition: all 2s;
}

.page-visible {
  opacity: 1;
  transform: translate(0, 0);
}

.head-text {
  @apply sm:text-8xl text-5xl font-extrabold;
}

.head2-text {
  @apply sm:text-5xl text-2xl font-extrabold;
}

.head3-text {
  @apply sm:text-3xl font-bold;
}

/* Feature */
.feature-desc {
  @apply z-10;
}
.feature-text {
  @apply md:text-lg text-sm md:w-auto w-[70%] md:mr-5;
}

.feature-pic {
  @apply w-full md:h-auto h-full md:flex-auto flex-none md:relative absolute;
}

@keyframes feature-pic-animation {

}

/* Spotlight */

.spotlight {
  @apply lg:w-[25%] w-[50%] lg:h-[25vw] h-[50vw];
}

.spotlight-head {
  @apply lg:text-2xl font-extrabold;
}

.spotlight-img{
  @apply w-full h-full;
  transition: filter 0.5s ease;
  pointer-events: none;
}

.spotlight-textbox {
  @apply z-10 absolute lg:w-[25%] w-[50%] lg:h-[25vw] h-[50vw] lg:p-5 p-3 overflow-hidden;
  pointer-events: none;
}

.spotlight-text {
  @apply absolute left-0 bottom-0 lg:p-5 m-3;
  transform: translateY(150%);
  transition: transform 0.5s ease;
}

.spotlight:hover > .spotlight-img {
  filter: blur(1rem);
}

.spotlight:hover > .spotlight-textbox > .spotlight-text {
  transform: translateY(0);
}

/* Contact */
.contact {
  @apply md:w-[10vw] w-[15vw] md:h-[10vw] h-[15vw];
  transition: transform 0.5s;
}

.contact:hover {
  transform: scale(1.2);
}